html {
    background-color:steelblue;
}

#introp {
    display: flex;

}

#title {
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}



#startquiz {
    width: 100px;
    height: 50px;
    border:1px solid ;
    box-shadow: 0 3px 3px;
    border-radius: 50px;
    font-family: monospace;

    transition: all .2s ease-in-out;
}

#startquiz:hover {

    opacity: .5;
    transform: scale(1.2)
}



h2 {
    text-align: center;
}



#quizp {
    display: none;
    text-align: center;
}
#quizp2 {
    display: none;
    text-align: center;
}
#quizp3 {
    display: none;
    text-align: center;
}
#quizp4 {
    display: none;
    text-align: center;
}



ol {
    display:inline-block;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
}

li {
    border: 5 solid black;
    padding: 20px;
    
}

.correct {
    transition: all .2s ease-in-out;
    border-radius: 20px;
    height: 60px;
    width: 13em;
    box-shadow: 2px 2px 2px;
   
    
}
.correct:hover {
    opacity: .5;
    transform: scale(1.2)
}
.wrong{
    transition: all .2s ease-in-out;
    border-radius: 20px;
    height: 60px;
    width: 13em;
    box-shadow: 2px 2px 2px;
    
}
.wrong:hover {
    opacity: .5;
    transform: scale(1.2)
}


h1 {
    text-align: center;
}


#resultp {
    display: none;
    text-align: center;
    padding: 10px;

}   

label {
    font-size: x-large;
}

#fullname {
    width: 50%;
    height: 50px;
    border-radius: 30px;
}

#submit {
    height: 60px;
    width: 100px;
    border-radius: 30%;
    box-shadow: 3px 3px 3px;
    transition: all .2s ease-in-out;
    
}
#submit:hover {
    opacity: .5;
    transform: scale(1.2)
}
   
  

input {
    font-size: x-large;
    text-align: center;
}